six
cffi
pyparsing
futures
xmljson
psutil
pymysql
urllib3==1.26.6
docker
prometheus_client
chardet
dateparser
func_timeout
distro
pycryptodome
pkcs7
ifcfg
xmltodict
psycopg2-binary==2.7.4
pyasyncore
oracledb==2.2.0
